<% provide(:title, "Profile Edit") %>
<div class="col-md-offset-2 mb-4 edit-profile-wrapper">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with model:@user, url: user_registration_path, local: true, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :username, "ユーザーネーム" %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :website, "ウェブサイト" %>
            <%= f.text_field :website, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :self_intro, "自己紹介" %>
            <%= f.text_area :self_intro, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :phone_number, "電話番号" %>
            <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :sex, "性別" %>
            <%= f.text_field :sex, autofocus: true, class: "form-control" %>
          </div>

          <%= f.submit "変更する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <br>
      <%= link_to "パスワード変更はこちら",  edit_user_path %>
      <p>アカウントを削除しますか？ <%= button_to "アカウントを削除する", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-primary"%></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>

