<% provide(:title, "Explore") %>

<div class="main">
  <div class="row mt-5">
    <div class="col-md-10 offset-md-2">
      <h4 class="text-center">フォローする人を見つけよう</h4>
      <div class="content-center mt-5">
        <%= paginate @users, :param_name => 'users_list' %>
      </div>
      <div class="card-group">
        <% @users.each do |user| %>
          <div class="card border border-0">
            <div class="card-img-top text-center mt-2">
              <%= image_tag avatar_url(user), class: "profile-icon" %>
            </div>
            <%= link_to user.username, user_path(user), class: "card-body text-center"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10 offset-md-2">
      <h4 class="text-center">発見</h4>
      <div class="content-center mt-5">
        <%= paginate @posts, :param_name => 'posts_list' %>
      </div>
      <div class="row">
        <%= render "posts/photos_list", {posts: @posts}%>
      </div>
    </div>
  </div>
</div>
