<% provide(:title, "Profile") %>
<div class="main mt-4">
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag avatar_url(@user), class: "profile-icon-big" %>
        </div>
        <div class="col-md-10">
          <table style="height: 100px;">
            <tbody>
              <tr>
                <td class="profile-username"><%= @user.username %></td>
                <% if @user == current_user %>
                  <td>
                    <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark" %>
                  </td>
                  <td>
                    <div class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
                      <i class="fas fa-cog"></i>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="list-group">
                            <%= link_to "パスワードを変更", edit_user_path, class: "list-group-item list-group-item-action" %>
                            <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                            <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                <% else %>
                  <td id="follow_form">
                    <% if current_user.following?(@user) %>
                      <%= render 'unfollow' %>
                    <% else %>
                      <%= render 'follow' %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
          <div class="d-flex mt-2">
              <p class="ml-2">投稿 <span class="font-weight-bold"><%= @user.posts.count %></span>件</p>
              <p class="ml-2">フォロワー <span class="font-weight-bold"><%= @user.followers.count %></span>人</p>
              <p class="ml-2">フォロー中 <span class="font-weight-bold"><%= @user.following.count %></span>人</p>
          </div>
          <p class="font-weight-bold ml-2"><%= @user.self_intro %></p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-10 offset-md-2">
      <div class="row">
        <%= render "posts/photos_list", {posts: @posts}%>
      </div>
    </div>
  </div>
</div>