<% provide(:title, "Log in") %>

<div class="main">
  <div class="form-wrap">
    <h2 class="text-center">Collabler</h2>
    <p class="text-center">友達の写真をチェックしよう</p>
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
      </div>
      <div class="form-group text-center">
        <%= f.submit "サインインする", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= link_to user_facebook_omniauth_authorize_path, method: :post do %>
        <p class="btn btn-outline-primary"><i class="fab fa-facebook"></i> Sign in with Facebook</p>
      <% end %>
    </div>
    <p class="devise-link text-center">
      アカウントをお持ちでないですか？
      <%= link_to "登録する", new_user_registration_path %>
    </p>
  </div>
</div>
