<% posts.each do |post| %>
  <div class="container">
    <div class="col-md-6 middle-block">
      <div class="row">
        <div class="card mt-2">
          <div class="card-header">
            <%= link_to user_path(post.user) do %>
              <%= image_tag avatar_url(post.user), class: "post-profile-icon" %>
            <% end %>
            <%= link_to user_path(post.user), title: post.user.name do %>
              <strong><%= post.user.name %></strong>
              <strong><%= post.user.id %></strong>
            <% end %>
            <% if post.user_id == current_user.id %>
              <%= link_to post_path(post), method: :delete do %>
                <div class="delete-post-icon">
                <span>delete</span>
                </div>
              <% end %>
            <% end %>
          </div>
          <div data-toggle="modal" data-target="#exampleModal-<%= post.id.to_s %>">
            <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
            <div class="modal fade show" id="exampleModal-<%= post.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="display: block;">
                    <%= render 'posts/photo_detail', {post: post} %>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex">
              <div id="like-icon-post-<%= post.id.to_s %>", class="" >
                <% if post.already_liked?(current_user).present? %>
                  <%= link_to "Unlike", post_like_path(post.id, post.already_liked?(current_user)), method: :DELETE, remote: true %>
                <% else %>
                  <%= link_to "Like", post_likes_path(post), method: :POST, remote: true %>
                <% end %>
              </div>
              <div id="bookmark-icon-post-<%= post.id.to_s %>", class="" >
                <% if post.already_bookmarked?(current_user).present? %>
                  <%= link_to "Unbookmark", post_bookmark_path(post.id, post.already_bookmarked?(current_user)), method: :DELETE, remote: true %>
                <% else %>
                  <%= link_to "Bookmark", post_bookmarks_path(post), method: :POST, remote: true %>
                <% end %>
              </div>
            </div>
            <div id="like-text-post-<%= post.id.to_s %>" class="mt-2">
              <%= render "posts/like_text", { likes: post.likes } %>
            </div>
            <div class="mt-1">
              <span><strong><%= post.user.name %></strong></span>
              <span><%= post.caption %></span>
            </div>    
            <div id="comment-post-<%= post.id.to_s %>", class="mt-1">
              <%= render 'posts/comments_list', { post: post } %>
              <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post),class: "post-time" %>
            </div>
            <hr>
            <div class="row actions" id="comment-form-post-<%= post.id.to_s %>">
              <%= form_with model: [post, Comment.new], class: "form-button" do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :post_id, value: post.id %>
                <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>